<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D Card Spinner</title>

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <main>
      <div class="spinner" style="--quantity: 10">
        <div class="card" style="--position: 1">
          <img src="/static/image1.jpg" alt="" />
        </div>
        <div class="card" style="--position: 2">
          <img src="/static/image2.jpg" alt="" />
        </div>
        <div class="card" style="--position: 3">
          <img src="/static/image3.jpg" alt="" />
        </div>
        <div class="card" style="--position: 4">
          <img src="/static/image4.jpg" alt="" />
        </div>
        <div class="card" style="--position: 5">
          <img src="/static/image5.jpg" alt="" />
        </div>
        <div class="card" style="--position: 6">
          <img src="/static/image6.jpg" alt="" />
        </div>
        <div class="card" style="--position: 7">
          <img src="/static/image7.jpg" alt="" />
        </div>
        <div class="card" style="--position: 8">
          <img src="/static/image8.jpg" alt="" />
        </div>
        <div class="card" style="--position: 9">
          <img src="/static/image9.jpg" alt="" />
        </div>
        <div class="card" style="--position: 10">
          <img src="/static/image10.jpg" alt="" />
        </div>
      </div>
    </main>
  </body>
</html>
