{% extends "auctions/layout.html" %}
{% block title %}Categories{% endblock %}

{% block body %}
    <center><h2>Categories</h2></center>
    <div style="padding-left: 150px; padding-right: 150px; padding-top: 50px; padding-bottom: 50px; font-size: 22pt;">
        <ul>
            {% for category in categories %}
                <form action="{% url 'category' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ category.name }}" name="name">
                    <input type="submit" value="{{ category.name }}" style="background: none; border: none; color: #007bff; cursor: pointer;">
                </form>
            {% endfor %}
        </ul>
    </div>

{% endblock %}