{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{"$"'%0.2f'| format(ftotal)}}</td>
            </tr>
        </tfoot>
        <tbody>

                {% for j in query %}
                {% if j["s_num"] > 0 %}
                <tr>
                    <td>{{ j["symbol"].upper() }}</td>
                    <td>{{ j["name"] }}</td>
                    <td>{{ j["s_num"] }}</td>
                    <td>{{"$" '%0.2f'| format(current_price[j["symbol"]]) }}</td>
                    <td>{{"$" '%0.2f'| format(total[j["symbol"]]) }}</td>
                </tr>
                {% endif %}
                {%endfor%}

                <tr>
                    <td>CASH</td>
                    <td colspan="3"></td>
                    <td>{{"$"'%0.2f'| format(cash) }}</td>
                </tr>

        </tbody>
    </table>

{% endblock %}